@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

footer{
    background-color: #010413;
    color: white;
    padding: 1rem;
    font-family: 'Kanit', sans-serif;
    text-align: center;

}
.footer-nav-ul-li:hover{
    text-decoration: underline;

}

.footer-nav-ul-li a{
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 768px){
    footer{
        display: flex;
        justify-content: space-between; 
    }
    .footer-nav-ul{
        display: flex;
        flex-direction: row;
    }
    .footer-nav-ul-li{
        margin-right: .5rem;
    }
}